/* utility classes */
.float-left {
	float: left;
}

.float-right {
	float: right;
}
.scrollable {
	overflow: auto;
}

.light-shadow{
	box-shadow: 0 0 6px #dddfe2;	
}
.link {
	text-decoration: none;
	color: #385898;
	display: block;
}
/* utility classes end */
/* Row & Col Style */
.row {
	display: flex;
	flex-direction: row;
}

[class*="col"] {
	float: left;
	margin: 0;
	padding: 10px;
}

.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.67%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.67%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.67%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.67%;
}
.col-12{
	width: 100%;
}

/* Row & Col Style End */